{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


{{! The main content area on the homepage }}
<section id="post-container" role="main">
    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="container">
            <div class="row">
                <aside class="col-sm-2 hidden-xs">
                    <ul>
                        <li class="side-header">Posted</li>
                        <li class="text-muted"><time itemprop="datePublished" datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time></li>

                        {{#foreach tags}}
                            {{#if @first}}
                                <li class="side-header" class="text-muted">Tags</li>
                            {{/if}}
                            <li class="text-muted"><a href="{{url}}">{{name}}</a></li>
                        {{/foreach}}
                    </ul>
                </aside>
                <div class="col-sm-8">
                    <header>
                        <h1 itemprop="name headline"><a href="{{url}}">{{{title}}}</a></h1>
                    </header>
                    <section class="visible-xs-block mobile-side">
                        <p>
                            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time>
                            <span class="text-muted">
                                {{tags separator=" / "}}
                            </span>
                        </p>
                    </section>
                    {{#if image}}
                        <section class="cover-image">
                            <img src={{image}} style="max-width: 100%; height: auto">
                        </section>
                    {{/if}}
                    <section itemprop="articleBody text">
                        <p>{{content}}</p>
                    </section>
                </div>
            </div>
        </div>
    </article>
    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    <div class="hidden">
        {{pagination}}
    </div>
    <div class="fin">◆</div>
    </section>
